.productCard {
	background-color: #FFFFFF;
	padding: 10px;
	max-height: 20%;
	max-width: 20%;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;

	.imageContainer {
		display: flex;
		background-color: #FFFFFF;
		height: 80%;
		width: 100%;
		justify-content: center;
		padding: 10px;
		border-radius: 10px;

		.productCartImage {
			// height: 100%;
			// width: 100%;
			max-width: 100%;
			max-height: 100%;
		}
	}


}